.containerContact {
    height: 100vh;
    width: 100vw; 
    padding: 4rem;
    color: var(--dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

.contactWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}

.contactWrap h1 {
    font-size: 1rem;
}

.contactWrap h3 {
    font-size: 2.5rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactForm label {
    padding: 8px 0;
}

.inputs {
    background-color: transparent;
    width: 600px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right:  0.4vw;
    padding: 15px 10px;
    border-color: var(--darkMode);
    border-style: solid;
    font-size: 0.9rem;
    color: var(--dark);
}

.contactForm textarea {
    background-color: transparent;
    resize: none; /*desabilita o redimensionamento padrão do textarea*/
    height: 15vh;
    width: 600px;
    border-radius: 5px;
    border: 2px solid var(--darkMode);
    padding: 10px;
    font-size: 0.9rem;
    color: var(--dark);
}

.submit {
    background-color: transparent;
    border-radius: 5px;
    padding: 15px 20px;
    border-color: var(--darkMode);
    border-style: solid;
    margin: 20px auto;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--dark);
    transition: all 0.2s linear 0s;
}

.submit:hover {
    background-color: var(--darkMode);
    color: var(--light);
}
/* DARK MODE */
.darkMode {
    background-color: var(--darkMode);
    color: var(--lightMode);
}

.darkMode ::placeholder {
    color: var(--lightMode);
}

.darkMode .inputs {
    border-color: var(--lightMode);
    color: var(--light);
}

.darkMode .contactForm textarea {
    border-color: var(--lightMode);
    color: var(--light);
}

.darkMode .submit {
    border-color: var(--lightMode);
    color: var(--lightMode);
}

.darkMode .submit:hover {
    background-color: var(--lightMode);
    color: var(--darkMode);
}

@media (max-width: 820px) {

    .containerContact {
        height: auto;
    }

    .inputs {
        width: 70vw;
        height: 40px;
    }

    .contactForm textarea {
        width: 70vw;
        height: 80px;
    }

    .contactWrap h1 {
        font-size: 0.9rem;
    }

    .contactWrap h3 {
        font-size: 2rem;
        text-align: center;
    }
}
