.containerFooter {
    height: 15vh;
    background-color: var(--lightMode);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--dark);
    justify-content: space-between;
    padding: 0 50px;
}

.socialItem {
    padding: 13px 15px;
    border: 0.5px solid var(--dark);
    border-radius: 50%;
    margin: 0 8px;
    color: var(--dark);
}


.socialItem svg:hover {
    transform: scale(1.4); /* Aumenta o tamanho em 40% */
    transition: transform 0.3s ease;
}

/* DARK MODE */
.darkMode {
    background-color: var(--dark);
    color: var(--lightMode);
}

.darkMode .socialItem {
    border-color: var(--lightMode);
    color: var(--lightMode);
}

@media (max-width: 500px) {

    .containerFooter {
        display: block;
        text-align: center;
    }
    
    .footer {
        height: 20vh;
        flex-direction: column-reverse;
    }

    .footerInfo {
        padding-top: 1rem;
    }

    .socialIcons {
        padding-top: 1rem;
    }

    .socialItem {
        padding: 0 10px;
        border: none;
        font-size: 1.2rem;
    }
}

    