.containerFooter {
    width: 100vw;
    background-color: var(--lightMode);
}

.footerWrap {
    /* width: 100vw; */
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--dark);
    justify-content: space-between;
    padding: 0 5rem;
}

.footerLeft {
    display: flex;
    gap: 0.2rem;
}

.socialIcons {
    display: flex;
    gap: 1rem;
}

.socialItem {
    padding: 13px 15px;
    border: 0.5px solid var(--dark);
    border-radius: 50%;
    color: var(--dark);
}


.socialItem svg:hover {
    transform: scale(1.4); /* Aumenta o tamanho em 40% */
    transition: transform 0.3s ease;
}

/* DARK MODE */
.darkMode {
    background-color: var(--dark);
    color: var(--lightMode);
}

.darkMode .socialItem {
    border-color: var(--lightMode);
    color: var(--lightMode);
}

.darkMode .footerWrap {
    color: var(--light);
}

@media (max-width: 700px) {

    .footerWrap {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 547px) {

    .containerFooter {
        display: block;
        text-align: center;
    }
    
    .footerWrap {
        flex-direction: column;
        padding: 10px 0;
    }

    /* .footerWrap p {
        padding-top: 1rem;
    } */

    .footerLeft {
        flex-direction: column;
        align-items: center;
    }

    .spanPipe {
        display: none;
    }

    .socialIcons {
        padding-top: 1rem;
        justify-content: center;
    }

    .socialItem {
        padding: 0 10px;
        border: none;
        font-size: 1.2rem;
    }
}

    