.containerNavBar {
    background-color: var(--lightMode);
}

.navBarMain {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 7rem;
}

.navLeft {
    color: var(--dark);
}

.navRight {
    display: flex;
    align-items: center;
}

.navRight svg {
    font-size: 1.25rem;
}

.navRightUl {
    list-style: none;
    display: flex;
    align-items: center;
}

.navRightUl li {
    padding: 0 1rem;
}

.navRightUl li a {
    text-decoration: none;
    color: var(--dark);
}

.modeIcon {
    padding-left: 15px;
}

.burgerIcon svg, .modeIcon svg {
    cursor: pointer;
    color: var(--dark);
}

.menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuList {
    list-style: none;
    text-align: center;
}

.menuList li {
    margin: 1rem 0;
}

.menuList li a {
    color: var(--light);
    text-decoration: none;
    font-size: 1.5rem;
}

.menuList li a:hover {
    text-decoration: underline;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: var(--light);
    cursor: pointer;
}

@media (max-width: 710px) {

    .navBarMain {
        padding: 1rem 4rem;
    }

}
