.containerNavBar {
    background-color: var(--light);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navBarMain {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 5rem;
    font-size: 1.3rem;
}

.navLeft {
    color: var(--darkMode);
}

.navLeft h3 span {
    color: var(--dark);
}

.navRight {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navRight svg {
    font-size: 1.25rem;
}

.navRightUl {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navRightUl li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.1rem;
    cursor: pointer;
}

.modeIcon {
    padding-top: 8px;
}

.burgerIcon svg, .modeIcon svg {
    cursor: pointer;
    color: var(--dark);
}

.menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.menuList {
    list-style: none;
    text-align: center;
}

.menuList li {
    margin: 1rem 0;
}

.menuList li a {
    color: var(--light);
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}
/* 
.menuList li a:hover {
 
} */

.closeIcon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    color: var(--lightMode);
    cursor: pointer;
}

/* DARK MODE */
.darkMode {
    background-color: var(--darkMode);
    color: var(--lightMode);
}
.darkMode .navLeft h3 {
    color: var(--light);
}

.darkMode .navLeft h3 span {
    color: var(--lightMode);
}

.darkMode .navRightUl li a {
    color: var(--light);
}

.darkMode .burgerIcon svg, .darkMode .modeIcon svg {
    color: var(--light);
}


@media (max-width: 975px) {

    .modeIcon {
        padding-top: 0;
    }
}

@media (max-width: 710px) {

    .navBarMain {
        padding: 1rem 4rem;
    }
}

@media (max-width: 500px) {

    .navBarMain {
        padding: 1rem 2rem;
    }
}
