
.containerProjects {
    padding: 6rem;
    color: var(--dark);
}

.title {
    font-size: 2.5rem;
}

.projects {
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
}

.projectsWrap {
    display: flex;
    justify-content: space-between;
}

.projectsWrapReverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.projects aside {
    width: 55%;
    padding: 5rem 0;
}

.projectName {
    font-size: 1.5rem;
}

.projectDescription {
    font-size: 1.2rem;
    padding: 1.5rem 0 3rem 0;
}

.projectBtn {
    border: 1px solid var(--dark);
    padding: 12px 24px;
    text-decoration: none;
    color: var(--dark);
}

.project2 {
    text-align: end;
}

.project2 .projectDescription {
    text-align: justify;
}

.projectBtnReverse {
    border: 1px solid var(--dark);
    padding: 12px 24px;
    text-decoration: none;
    color: var(--dark);
}

.projectImg {
    padding: 5rem 0;
    margin-left: 20px;
}

.projectImgReverse {
    padding: 5rem 0;
    margin-right: 20px;
}

.projectImg img, .projectImgReverse img {
    border: 2px solid var(--dark); 
    border-radius: 10px;
    display: block;
    background-attachment: fixed;
    /* width: 30vw; */
    width: 370px;
}

@media (max-width: 946px) {

    .title {
        text-align: center;
    }

    .projectsWrap, .projectsWrapReverse{
        flex-direction: column;
    }
    .projects aside {
        width: auto;
        padding-bottom: 0;
        text-align: center;
    }

    .projectDescription {
        text-align: justify;
    }

    .projectImg {
        padding: 3rem 0;
        margin-left: auto;
    }

    .projectImgReverse {
        margin-right: auto;
    }

    .projectImg img, .projectImgReverse img {
        width: 100%;
    }

}