.containerProjects {
    padding: 3rem 6rem;
    color: var(--dark);
}

.title {
    font-size: 2.5rem;
}

.projects {
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
}

.projectsWrap {
    display: flex;
    justify-content: space-between;
}

.projectsWrapReverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.projects .project1,
.projects .project3 {
    width: 100%;
    padding: 5rem 5rem 5rem 0;
}

.projectName {
    font-size: 1.5rem;
}

.projectStack {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin-top: 1rem;
}

.projectStack li {
    border: 1px solid var(--darkMode);
    border-radius: 15px;
    padding: 0.5rem 0.8rem;

}

.projectDescription {
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.projectLinksWrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projectLinksWrapReverse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.projectBtn , 
.projectBtnReverse {
    border: 1px solid var(--dark);
    border-radius: 5px;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--dark);
    transition: all 0.2s linear 0s;
}

.projectBtn:hover , 
.projectBtnReverse:hover {
    background-color: var(--darkMode);
    color: var(--light);
}

.githubIcon {
    font-size: 1.5rem;
    color: var(--darkMode);
}

.projects .project2 {
    text-align: end;
    width: 100%;
    padding: 5rem 0 5rem 5rem;
}

.project2 .projectDescription {
    text-align: justify;
}

.projectImg {
    padding: 5rem 0;
    margin-left: 20px;
    width: 70%;
}

.projectImgReverse {
    padding: 5rem 0;
    margin-right: 20px;
    width: 70%;
}

.projectImg img, .projectImgReverse img {
    border: 3px solid var(--dark);
    border-radius: 10px;
    display: block;
    background-attachment: fixed;
    width: 100%;
    /* width: 370px; */
}

/* DARK MODE */
.darkMode {
    background-color: var(--darkMode);
    color: var(--lightMode);
}

.darkMode .projectBtn ,
.darkMode .projectBtnReverse {
    color: var(--lightMode);
    border-color: var(--lightMode);
}

.darkMode .projectBtn:hover , 
.darkMode .projectBtnReverse:hover {
    background-color: var(--lightMode);
    color: var(--darkMode);
}

.darkMode .projectImg img, .darkMode .projectImgReverse img {
    border-color: var(--lightMode);
}

.darkMode .githubIcon {
    color: var(--lightMode);
}

.darkMode .projectStack li {
    border-color: var(--lightMode);
}

@media (max-width: 946px) {

    .title {
        text-align: center;
    }

    .projectsWrap, .projectsWrapReverse{
        flex-direction: column;
    }
    .projects aside {
        width: auto;
        padding-bottom: 0;
        text-align: center;
    }

    .projectDescription {
        text-align: justify;
    }

    .projectImg {
        padding: 3rem 0;
        margin-left: auto;
    }

    .projectImgReverse {
        margin-right: auto;
    }

    .projectImg img, .projectImgReverse img {
        width: 100%;
    }

}