.containerSkills {
    width: 100vw;
    background-color: var(--lightMode);
    /* height: 100vh; */
    padding: 6rem 18rem;
}

.skillsWrap {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    gap: 3rem;
}

.title h2 {
    font-size: 1.5em;
}

.techIcons {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.techItems {
    width: 70px;
    height: 70px;
    font-size: 2rem; 
    padding: 1.1rem;
    border: 0.5px solid var(--dark);
    border-radius: 50%;
}

.infoWrap {
    display: flex;
    gap: 14rem;
    margin-top: 1rem;
}

.skillsInfo {
    width: 50%;
}

.skillsInfo h4 {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.skillsInfo p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.qrCode {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-left: 2rem;
}

.qrCode img {
    width: 200px;
    height: 200px;
}

.qrCode aside {
    text-align: center;
    font-size: 2rem;
}

.qrCode aside p {
    font-family: 'MinhaFonte', sans-serif;
}

/* DARK MODE */

.darkMode {
    background-color: var(--dark);
    color: var(--lightMode);
}

.darkMode .skillsWrap {
    color: var(--lightMode);
}

.darkMode .techItems {
    border-color: var(--lightMode);
}   

@media (max-width: 1660px) {

    .containerSkills {
        padding: 6rem 10rem;
    }
}

@media (max-width: 1200px) {

    .infoWrap {
        gap: 5rem;
        align-items: center;
        justify-content: center;
    }

    .qrCode {
        flex-direction: column;
        gap: 1rem;
        /* padding-left: 5rem; */
    }
}

@media (max-width: 946px) {
    .containerSkills {
        padding: 4rem 5rem;
        height: auto;
    }

    .skillsInfo {
        text-align: center;
    }

    .techIcons {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;
    }

    .techItems {
        margin: 1px 30px;
    }

    .infoWrap {
        margin-top: 1rem;
        /* gap: 5rem; */
    }

    .qrCode {
        justify-content: center;
    }
}

@media (max-width: 858px) {

    .infoWrap {
        flex-direction: column;
        align-items: center;
    }

    .qrCode {
        padding-left: 0;
        flex-direction: row;
    }

    .skillsInfo {
        width: auto;
    }
}

@media (max-width: 522px) {

    .techIcons {
        margin: 1rem;
    }

    .techItems {
        width: 40px;
        height: 45px;
        font-size: 2.5rem;
        padding: 0rem;
        border: none;
        margin: 1px 10px;
    }
}
