.containerSkills {
    background-color: var(--lightMode);
    display: flex;
    flex-direction: column;
    padding: 4rem 6.5rem;
    align-items: center;
    color: var(--dark);
}

.title {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.techIcons {
    display: flex;
    list-style: none;
    height: 8.5vh;
    margin: 3rem;
}

.techItems {
    width: 70px;
    height: 70px;
    font-size: 2rem; 
    padding: 1.1rem;
    border: 0.5px solid var(--dark);
    border-radius: 50%;
    margin: 0 15px;
}

.infoWrap {
    display: flex;
    gap: 12rem;
    padding: 3rem
    6rem 0 6rem;
}

.skillsInfo {
    width: 50%;
}

.skillsInfo h4 {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.skillsInfo p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.qrCode img {
    width: 50%;
}

/* DARK MODE */

.darkMode {
    background-color: var(--dark);
    color: var(--lightMode);
}

.darkMode .techItems {
    border-color: var(--lightMode);
}   


@media (max-width: 946px) {
    .containerSkills {
        padding: 4rem 5.5rem;
    }

    .skillsInfo {
        text-align: center;
    }

    .skillsInfo p {
        padding: 0rem 2rem;
    }

    .techIcons {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem;
    }

    .techItems {
        margin: 8px 25px;
    }
}

@media (max-width: 500px) {

    .skillsInfo p {
        padding: 0rem 0.2rem;
    }

    .techIcons {
        margin: 1rem;
    }

    .techItems {
        width: 40px;
        height: 45px;
        font-size: 2.5rem;
        padding: 0rem;
        border: none;
    }

}
